/* Elementos impares */
.odd {
    background-color: lightcoral;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

/* Segundo elemento (div) */
#second {
    color: blue;
    font-size: 36px;
}

/* Elemento especial impar */
.special {
    font-size: 24px;
}

/* Cuarto elemento (div) */
#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}